* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img {
  width: 100%;
  height: auto;
  display: block;
}
/*** håber det virker nu ****/
/** BODY **/
body {
  background-color: var(--dark_beige);
  margin: 0;
  padding: 0;
}

/** HEADER **/ /*Husk at centere H! i general og gice korrekt farve til overskrifter*/
.desktop_menu {
  display: none;
} /* viser ikke den menu der er gældende i desktop */

header {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 2rem;
  z-index: 999;
  width: 100%;
}

.logo_m {
  width: 10rem;
}

.menu_hover:hover {
  color: var(--green);
}

.current-page {
  color: var(--brown);
  text-decoration: underline;
}

/** BURGERMENU **/
.burger-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 20px;
  cursor: pointer;
  margin-top: 15px;
  z-index: 1000;
  position: absolute;
  top: 35px;
  right: 35px;

  color: var(--black);
}

.burger-menu span {
  display: block;
  height: 3px;
  background-color: var(--black);
  border-radius: 2px;
  transition: 0.3s;
}

.burger-menu:hover span {
  background-color: var(--brown);
}

.menu.active {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  list-style: none;
  padding: 0;
  margin: 0;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: var(--green);
  width: 100vw;
  height: 100vh;

  font-family: bryant-web, sans-serif;
  gap: 2rem;
  z-index: 1000;
}

.menu {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: sticky;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vw;
  background-color: var(--green);
  z-index: 1000;
  gap: 20px;
  text-decoration: none;
  list-style: none;
  color: var(--black);
  font-weight: initial;
}

.menu li a {
  text-decoration: none;
  color: var(--black);
  font-size: 1.5rem;
  padding: 1rem;
  font-family: bryant-web, sans-serif;
  font-weight: initial;
}

.menu li a:hover {
  text-decoration: none;
  color: var(--beige);
  font-weight: initial;
}

/** MAIN **/
main {
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
  margin-bottom: 5vh;
}

.text_center {
  text-align: center;
}

.billedeTilvenstre,
.billedeTilhøjre {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.tekstTilhøjre,
.tekstTilvenstre {
  text-align: left;
  padding: 2vh;
}

.sektion_img {
  position: relative;
  width: 100%;
  object-fit: cover;
}

.sektion_img:last-child {
  order: -1;
}

/* FORMS */
.forms {
  margin-top: 5rem;
  padding: 1rem;
}

form {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* To lige store kolonner */
  grid-gap: 16px;
  padding: 32px;
  font-family: bryant-web, sans-serif;
  color: var(--black);
}

.form-group {
  display: flex;
  flex-direction: column;
}

/* Subject og Message skal fylde hele bredden */
.form-group.full {
  grid-column: 1 / -1;
}

label {
  display: block;
  margin-bottom: 5px;
}

.form-element {
  appearance: none;
  outline: none;
  border: none;

  display: block;
  width: 100%;

  border-radius: 8px;
  padding: 12px 16px;
  background-color: var(--beige);
  transition: 0.4s;
}

.form-element:focus {
  box-shadow: 0px 0px 6px var(--brown);
  background-color: var(--beige);
}

textarea {
  resize: none;
  min-height: 100px;
  font-family: bryant-web, sans-serif;
}

.submit {
  justify-content: center;
  display: grid;
  grid-column: 1/-1;
  justify-self: center;
  justify-items: center;
  text-align: center;
  font-family: bryant-web, sans-serif;
}

input {
  justify-content: center;
  display: flex;
  grid-column: 1/-1;
  justify-self: center;
  justify-items: center;
  text-align: center;
  font-family: bryant-web, sans-serif;
}

.submit input[type="submit"] {
  justify-content: center;
  display: flex;
  grid-column: 1/-1;
  justify-self: center;
  justify-items: center;
  text-align: center;
  font-family: bryant-web, sans-serif;

  appearance: none;
  outline: none;
  background: none;

  color: var(--brown);
  border: 2px solid var(--brown);
  cursor: pointer;
  transition: 1s ease;
  padding: 10px;
  border-radius: 20px;
  top: 35px;
}

.submit input[type="submit"]:hover {
  background-color: var(--brown);
  color: var(--beige);
  transition: 1s ease;
  font-family: bryant-web, sans-serif;
}

/** DESKTOP **/
@media (min-width: 800px) {
  /* HEADER */
  .desktop_menu {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    padding: 1rem;
  }

  .logo_d {
    max-width: 10rem;
  }

  .mobil_menu {
    display: none;
  }

  /*MAIN - ZIGZAG*/
  .billedeTilvenstre,
  .billedeTilhøjre {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-left: 0;
    margin-bottom: 2rem;
  }

  .tekstTilhøjre,
  .tekstTilvenstre {
    padding-top: 0;
    margin-right: 1rem;
    margin-left: 1rem;
  }

  /** flytter teksterne til zigzag mønster**/
  .tekstTilhøjre:last-child {
    order: 0;
  }
  .sektion_img:last-child {
    order: 0;
  }
}
