/* general */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 5px;
}

html {
  scroll-behavior: smooth;
}

body {
  margin-inline: auto;
  background-color: var(--beige);
}

/* colors */
:root {
  --beige: #f3f2ee;
  --dark_beige: #fcf0ce;
  --green: #9fb98c;
  --grey: #bebcb6;
  --brown: #674c40;
  --black: #363636;
}

/* fonts  */
h1 {
  font-family: salthouse, sans-serif;
  color: var(--black);
  font-size: 3.5rem;
}

h2 {
  font-family: the-seasons, sans-serif;
  color: var(--brown);
  padding-bottom: 10px;
  font-size: 1.7rem;
}

h3 {
  font-family: the-seasons, sans-serif;
  font-weight: bold;
}

p {
  font-family: bryant-web, sans-serif;
  color: var(--black);
}

a {
  font-family: bryant-web, sans-serif;
  text-decoration: none;
  color: var(--black);
  font-weight: bold;
  font-size: 0.9rem;
}

@media (min-width: 900px) {
  h1 {
    font-size: 6rem;
  }

  h2 {
    font-size: 2.5rem;
  }

  h3 {
    font-size: 1.2rem;
  }

  p {
    font-size: 1.2rem;
  }
}

/*knapper*/
.button,
.arrow_down {
  position: relative;
  color: var(--brown);
  border: 2px solid var(--brown);
  cursor: pointer;
  transition: 1s ease;
  padding: 10px;
  border-radius: 20px;
  top: 35px;
}

.button:hover {
  background-color: var(--brown);
  color: var(--beige);
  transition: 1s ease;
}

@media (min-width: 900px) {
  .arrow_down {
    padding: 16px;
    border-radius: 30px;
    font-size: 1.5rem;
  }
}

/* hover effects */
.grow {
  transition: 1s ease;
}

.grow:hover {
  transform: scale(1.1);
  transition: 1s ease;
}

.layer {
  transition: 0.8s ease;
}

.layer:hover {
  opacity: 0.5;
  transition: 0.8s ease;
}

/* menu */
.desktop_menu {
  display: none;
} /* viser ikke den menu der er gældende i desktop */

header {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 2rem;
  z-index: 999;
  width: 100%;
}

.logo_m {
  width: 10rem;
}

.menu_hover:hover {
  color: var(--green);
}

.current-page {
  color: var(--brown);
  text-decoration: underline;
}

.current-page_logo {
  border-bottom: 1px solid black;
  padding-bottom: 10px;
  border-radius: 0px;
}

/* burger */
.burger-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 20px;
  cursor: pointer;
  margin-top: 15px;
  z-index: 1000;
  position: absolute;
  top: 35px;
  right: 35px;

  color: var(--black);
}

.burger-menu span {
  display: block;
  height: 3px;
  background-color: var(--black);
  border-radius: 2px;
  transition: 0.3s;
}

.burger-menu:hover span {
  background-color: var(--brown);
}

.menu.active {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: var(--green);
  width: 100vw;
  height: 100vh;
  font-family: bryant-web, sans-serif;
  gap: 2rem;
  z-index: 1000;
}

.menu {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: sticky;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vw;
  background-color: var(--green);
  z-index: 1000;
  gap: 20px;
  text-decoration: none;
  list-style: none;
  color: var(--black);
}

.menu li a {
  text-decoration: none;
  color: var(--black);
  font-size: 1.5rem;
  padding: 1rem;
  font-family: bryant-web, sans-serif;
}

.menu li a:hover {
  text-decoration: none;
  color: var(--beige);
}

@media (min-width: 800px) {
  .desktop_menu {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    padding: 1rem;
  }

  .logo_d {
    max-width: 10rem;
  }

  .mobil_menu {
    display: none;
  }
}

/* footer */
footer {
  position: relative;
  background-color: var(--green);
  min-height: 30vw;
  margin-top: 5rem;
  padding: 3rem;

  display: grid;
  grid-template-rows: 1fr 2fr 2fr;
}

.beige {
  color: var(--beige);
  margin-bottom: 5vh;
}

.icons {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
}

.yelp img,
.tiktok img,
.insta img {
  position: absolute;
  cursor: pointer;
  max-width: 10vw;
  gap: 10px;
  height: auto;
  transition: opacity 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1100;
}

.yelp .base-icon,
.tiktok .base-icon,
.insta .base-icon {
  opacity: 1;
}

.yelp .hover-icon,
.tiktok .hover-icon,
.insta .hover-icon {
  opacity: 0;
}

.yelp:hover .base-icon,
.tiktok:hover .base-icon,
.insta:hover .base-icon {
  opacity: 0;
}

.yelp:hover .hover-icon,
.tiktok:hover .hover-icon,
.insta:hover .hover-icon {
  opacity: 1;
}

.info {
  display: grid;
  grid-template-columns: 2fr 2fr;
  color: var(--beige);
}

.info p {
  color: var(--beige);
}

.info a {
  text-decoration: none;
  color: var(--beige);
  font-weight: initial;
}

.info a:hover {
  text-decoration: none;
  color: var(--brown);
}

.fav {
  min-width: 50%;
  max-width: 10vw;
  z-index: 1100;
  justify-self: end;

  /** animation **/
  animation-name: pulse_kf;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes pulse_kf {
  0%,
  100% {
    transform: scale(0.89); /*start and end at original size*/
  }
  50% {
    transform: scale(0.8); /*scales up*/
  }
}
