/* colors */
:root {
  --beige: #f3f2ee;
  --dark_beige: #fcf0ce;
  --yellow: #ffd97c;
  --green: #9fb98c;
  --grey: #bebcb6;
  --brown: #674c40;
  --black: #363636;
}

/*background color*/
body {
  background-color: var(--beige);
}

/* fonts  */
h1 {
  font-family: salthouse, sans-serif;
  font-size: 6rem; /*til desktop*/
}

h2 {
  font-family: the-seasons, sans-serif;
  font-size: 2.5rem; /*til desktop*/
}

p {
  font-family: bryant-web, sans-serif;
  font-size: 1.5rem; /*til desktop*/
}

/*Knapper*/

@media (max-width: 800px) {
  /* fonts  */
  h1 {
    font-size: 3.5rem;
  }

  h2 {
    font-size: 1.7rem;
  }

  p {
    font-size: 1.2rem;
  }
}
