/* general */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 5px;
}

html {
  scroll-behavior: smooth;
}

body {
  max-inline-size: 1200px;
  margin-inline: auto;
  background-color: var(--beige);
  padding: 0 60px;
}

/* colors */
:root {
  --beige: #f3f2ee;
  --dark_beige: #fcf0ce;
  --green: #9fb98c;
  --grey: #bebcb6;
  --brown: #674c40;
  --black: #363636;
}

/* fonts  */
h1 {
  font-family: salthouse, sans-serif;
  color: var(--black);
  font-size: 3.5rem;
}

h2 {
  font-family: the-seasons, sans-serif;
  color: var(--brown);
  padding-bottom: 10px;
  font-size: 1.7rem;
}

h3 {
  font-family: the-seasons, sans-serif;
  font-weight: bold;
}

p {
  font-family: bryant-web, sans-serif;
  color: var(--black);
}

a {
  font-family: bryant-web, sans-serif;
  text-decoration: none;
  color: var(--black);
  font-weight: bold;
  font-size: 0.9rem;
}

@media (min-width: 900px) {
  h1 {
    font-size: 6rem;
  }

  h2 {
    font-size: 2.5rem;
  }

  h3 {
    font-size: 1.2rem;
  }

  p {
    font-size: 1.2rem;
  }
}

/*knapper*/
.button,
.arrow_down {
  position: relative;
  color: var(--brown);
  border: 2px solid var(--brown);
  cursor: pointer;
  transition: 1s ease;
  padding: 10px;
  border-radius: 20px;
  top: 35px;
}

.button:hover {
  background-color: var(--brown);
  color: var(--beige);
  transition: 1s ease;
}

@media (min-width: 900px) {
  .arrow_down {
    padding: 16px;
    border-radius: 30px;
    font-size: 1.5rem;
  }
}

/* hover effects */
.grow {
  transition: 1s ease;
}

.grow:hover {
  transform: scale(1.1);
  transition: 1s ease;
}

.layer {
  transition: 0.8s ease;
}

.layer:hover {
  opacity: 0.5;
  transition: 0.8s ease;
}

/* menu */
.desktop_menu {
  display: none;
} /* viser ikke den menu der er gældende i desktop */

header {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 2rem;
  z-index: 999;
  width: 100%;
}

.logo_m {
  width: 10rem;
}

/* burger menu */
.burger-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 20px;
  cursor: pointer;
  margin-top: 15px;
  z-index: 1000;
  position: absolute;
  top: 35px;
  right: 35px;
}

.burger-menu span {
  display: block;
  height: 3px;
  background-color: var(--black);
  border-radius: 2px;
  transition: 0.3s;
}

.burger-menu:hover span {
  background-color: var(--brown);
}

.menu.active {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  list-style: none;
  padding: 0;
  margin: 0;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: var(--green);
  width: 100vw;
  height: 100vh;

  font-family: bryant-web, sans-serif;
  gap: 2rem;
  z-index: 1000;
}

.menu {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: sticky;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vw;
  background-color: var(--green);
  z-index: 1000;
  gap: 20px;
  text-decoration: none;
  list-style: none;
  color: var(--black);
}

.menu li a {
  text-decoration: none;
  color: var(--black);
  font-size: 1.5rem;
  padding: 1rem;
  font-family: bryant-web, sans-serif;
}

.menu li a:hover {
  text-decoration: none;
  color: var(--beige);
}
