/*************** Reset *********************/

img {
  width: 100%;
}
* {
  margin: 0;
}
/*************** Reset ************/

/*Filter*/
.filter_container {
  margin-bottom: 4rem;
  margin-top: 4rem;
}

/* Product List */
.product_list_container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 30px;
  width: 100%;
  margin-bottom: 2rem;
}

.product_list_container a {
  text-decoration: none;
  color: var(--black);
  line-height: 2rem;
}

.product_card {
  display: grid;
  grid-template-rows: subgrid;
  grid-row: span 3;
  border: 1px solid var(--grey); /* Tilføjer en firkantet kant */
  box-sizing: border-box;
}

.product_card img {
  width: 100%;
  aspect-ratio: 8/9;
  object-fit: cover;
}

.product_card_indhold {
  padding: 1rem;
}

.card_text p {
  font-size: 1rem;
}
.card_text {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Sikrer 3 lige store kolonner */
  gap: 10px; /* Afstand mellem kolonnerne */
  text-align: center; /* Centrerer teksten */
}

.card_text div {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
}
