* {
  margin: 0;
  box-sizing: border-box;
  background-color: var(--beige);
}

/* body {
  padding: 4rem;
} */

h1,
h2 {
  color: var(--brown);
}

p,
dl,
li {
  color: var(--black);
  font-family: bryant-web, sans-serif;
  font-size: 1.5rem; /*til desktop*/
  line-height: 2.5rem;
}

.intro {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-left: 4rem;
}

.intro_text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

img {
  max-width: 100%;
  object-fit: cover;
  /* aspect-ratio: 9/16; */
}

/* h1 {
  order: 0;
} */

figure img {
  height: 700px;
  display: grid;
  grid-column: 2/3;
}

.details {
  display: flex;
  gap: 180px;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

/* .fa-light {
  font-weight: 500;
} */

.popular-grid {
  display: flex;
  gap: 30px;
  justify-content: center;
}

@media (max-width: 768px) {
  .intro {
    display: grid;
    grid-template-columns: 1fr;
    margin: 1rem;
  }

  dl,
  li {
    font-size: 1.2rem;
  }
}

/** HEADER **/ /*Husk at centere H! i general og gice korrekt farve til overskrifter*/
.desktop_menu {
  display: none;
} /* viser ikke den menu der er gældende i desktop */

header {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 2rem;
  z-index: 999;
  width: 100%;
}

.logo_m {
  width: 10rem;
}

.current-page {
  color: var(--black);
  text-decoration: underline;
}

/** BURGERMENU **/
.burger-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 20px;
  cursor: pointer;
  margin-top: 15px;
  z-index: 1000;
  position: absolute;
  top: 35px;
  right: 35px;
}

.burger-menu span {
  display: block;
  height: 3px;
  background-color: var(--black);
  border-radius: 2px;
  transition: 0.3s;
}

.burger-menu:hover span {
  background-color: var(--brown);
}

.menu.active {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  list-style: none;
  padding: 0;
  margin: 0;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: var(--green);
  width: 100vw;
  height: 100vh;

  font-family: bryant-web, sans-serif;
  gap: 2rem;
  z-index: 1000;
}

.menu {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: sticky;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vw;
  background-color: var(--green);
  z-index: 1000;
  gap: 20px;
  text-decoration: none;
  list-style: none;
  color: var(--black);
  font-weight: initial;
}

.menu li a {
  text-decoration: none;
  color: var(--black);
  font-size: 1.5rem;
  padding: 1rem;
  font-family: bryant-web, sans-serif;
  font-weight: initial;
}

.menu li a:hover {
  text-decoration: none;
  color: var(--beige);
  font-weight: initial;
}

/** FOOTER **/
footer {
  position: relative;
  background-color: var(--green);
  min-height: 30vw;
  margin-top: 5rem;
  padding: 3rem;

  display: grid;
  grid-template-rows: 1fr 2fr 2fr;
}

.beige {
  color: var(--beige);
  margin-bottom: 5vh;
}

.icons {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
}

.yelp img,
.tiktok img,
.insta img {
  position: absolute;
  cursor: pointer;
  max-width: 10vw;
  gap: 10px;
  height: auto;
  transition: opacity 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1100;
}

.yelp .base-icon,
.tiktok .base-icon,
.insta .base-icon {
  opacity: 1;
}

.yelp .hover-icon,
.tiktok .hover-icon,
.insta .hover-icon {
  opacity: 0;
}

.yelp:hover .base-icon,
.tiktok:hover .base-icon,
.insta:hover .base-icon {
  opacity: 0;
}

.yelp:hover .hover-icon,
.tiktok:hover .hover-icon,
.insta:hover .hover-icon {
  opacity: 1;
}

.info {
  display: grid;
  grid-template-columns: 2fr 2fr;
  color: var(--beige);
}

.info p {
  color: var(--beige);
}

.info a {
  text-decoration: none;
  color: var(--beige);
  font-weight: initial;
}

.info a:hover {
  text-decoration: none;
  color: var(--brown);
}

.fav {
  min-width: 50%;
  max-width: 10vw;
  z-index: 1100;
  justify-self: end;

  /** animation **/
  animation-name: pulse_kf;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes pulse_kf {
  0%,
  100% {
    transform: scale(0.89); /*start and end at original size*/
  }
  50% {
    transform: scale(0.8); /*scales up*/
  }
}

/** DESKTOP **/
@media (min-width: 800px) {
  /* HEADER */
  .desktop_menu {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    padding: 1rem;
  }

  .logo_d {
    max-width: 10rem;
  }

  .mobil_menu {
    display: none;
  }

  /*MAIN - ZIGZAG*/
  .billedeTilvenstre,
  .billedeTilhøjre {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-left: 0;
    margin-bottom: 2rem;
  }

  .tekstTilhøjre,
  .tekstTilvenstre {
    padding-top: 0;
    margin-right: 1rem;
    margin-left: 1rem;
  }

  /** flytter teksterne til zigzag mønster**/
  .tekstTilhøjre:last-child {
    order: 0;
  }
  .sektion_img:last-child {
    order: 0;
  }

  /** FOOTER **/
  .info p {
    margin-top: 10vh;
  }

  .yelp img,
  .tiktok img,
  .insta img {
    max-height: 10rem;
  }
}
