@media (min-width: 769px) {
  main {
    margin-left: 4rem;
  }

  .details,
  ol,
  .popular-grid {
    margin-right: 4rem;
  }
}

h1 {
  color: var(--brown);
}

dl,
li {
  color: var(--black);
  font-family: bryant-web, sans-serif;
  font-size: 1.5rem; /*til desktop*/
  /* line-height: 2.5rem; */
}

/* .intro_text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
} */

.intro {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
}

h1,
h2,
h3 {
  padding-top: 1rem;
  padding-bottom: 0.5rem;
}

h3 {
  font-family: the-seasons, sans-serif;
  font-size: 1.8rem;
}

/* .intro_text {
  display: grid;
  columns: 1/2;
  grid-row: 1/2;
} */

img {
  object-fit: cover;
}

ul,
ol {
  padding-left: 2rem;
  line-height: 2.5rem;
}

/* Container for the image */
/* figure {
  position: relative;
  /* width: 100%; Ensures it takes the full width of its grid column */
/* height: 700px; /* Adjust this based on your layout */
/* overflow: hidden; /* Hides the overflowing right side */
/* display: grid;
  grid-row: span 2;
  grid-column: 2/3;
}  */

/* Style the image inside the figure */
/* .single_img {
  width: 100%; /* Expands beyond its container to cut off the right side 
  height: 100%;
  object-fit: cover;
}  */

.single_img,
figure {
  height: 700px;
  width: 100%;
  display: grid;
  grid-row: span 2;
  overflow: hidden;
  grid-column: 2/3;
  object-fit: cover;
  object-position: -80% 0%;
}

/* .single_img {
  position: absolute;
} */

.details {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  /* justify-content: space-between; */
  margin-top: 2rem;
  margin-bottom: 1rem;
  /* flex-wrap: wrap; */
}

.details dl {
  display: flex;
  flex-direction: column; /* Stack elements inside each dl */
  align-items: center; /* Center everything inside each dl */
}

.icon {
  width: 50px;
}

dt {
  font-size: 1.2rem;
}

.details dd {
  font-weight: 700;
}

.most_popular {
  margin-top: 4rem;
}

.popular-grid {
  display: flex;
  gap: 30px;
  justify-content: center;
}

dl {
  display: flex;
  justify-content: center;
  align-items: center;
}

.popular-item h3 {
  text-align: center;
  font-size: 1.3rem;
}

.popular-item dd {
  font-weight: 400;
  font-size: 1.2rem;
}

.popular-item dt {
  font-weight: 400;
  font-size: 1.2rem;
}

@media (max-width: 768px) {
  main {
    padding: 1rem;
  }

  .intro,
  .popular-grid {
    display: grid;
    grid-template-columns: 1fr;
    /* gap: 10px; */
  }

  h1 {
    font-size: 2.6rem;
  }

  h3 {
    font-size: 1.3rem;
  }

  .single_img,
  figure {
    height: 100%;
    width: 100%;
    display: block; /* Prevent grid layout */
    grid-row: span 1;
    grid-column: auto;
  }

  .single_img {
    position: relative;
  }

  .details {
    grid-template-columns: 1fr 1fr;
  }

  .icon {
    width: 30px;
  }

  dl,
  li {
    font-size: 1.1rem;
    line-height: 2rem;
  }
}

.flaticon a {
  font-size: 0.5rem;
  color: var(--grey);
}

/** HEADER **/ /*Husk at centere H! i general og gice korrekt farve til overskrifter*/
.desktop_menu {
  display: none;
} /* viser ikke den menu der er gældende i desktop */

header {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 2rem;
  z-index: 999;
  width: 100%;
}

.logo_m {
  width: 10rem;
}

.current-page {
  color: var(--black);
  text-decoration: none;
}

/** BURGERMENU **/
.burger-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 20px;
  cursor: pointer;
  margin-top: 15px;
  z-index: 1000;
  position: absolute;
  top: 35px;
  right: 35px;
}

.burger-menu span {
  display: block;
  height: 3px;
  background-color: var(--black);
  border-radius: 2px;
  transition: 0.3s;
}

.burger-menu:hover span {
  background-color: var(--brown);
}

.menu.active {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  list-style: none;
  padding: 0;
  margin: 0;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: var(--green);
  width: 100vw;
  height: 100vh;

  font-family: bryant-web, sans-serif;
  gap: 2rem;
  z-index: 1000;
}

.menu {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: sticky;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vw;
  background-color: var(--green);
  z-index: 1000;
  gap: 20px;
  text-decoration: none;
  list-style: none;
  color: var(--black);
  font-weight: initial;
}

.menu li a {
  text-decoration: none;
  color: var(--black);
  font-size: 1.5rem;
  padding: 1rem;
  font-family: bryant-web, sans-serif;
  font-weight: initial;
}

.menu li a:hover {
  text-decoration: none;
  color: var(--beige);
  font-weight: initial;
}

/** FOOTER **/
footer {
  position: relative;
  background-color: var(--green);
  min-height: 30vw;
  margin-top: 5rem;
  padding: 3rem;

  display: grid;
  grid-template-rows: 1fr 2fr 2fr;
}

.beige {
  color: var(--beige);
  margin-bottom: 5vh;
}

.icons {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
}

.yelp img,
.tiktok img,
.insta img {
  position: absolute;
  cursor: pointer;
  max-width: 10vw;
  gap: 10px;
  height: auto;
  transition: opacity 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1100;
}

.yelp .base-icon,
.tiktok .base-icon,
.insta .base-icon {
  opacity: 1;
}

.yelp .hover-icon,
.tiktok .hover-icon,
.insta .hover-icon {
  opacity: 0;
}

.yelp:hover .base-icon,
.tiktok:hover .base-icon,
.insta:hover .base-icon {
  opacity: 0;
}

.yelp:hover .hover-icon,
.tiktok:hover .hover-icon,
.insta:hover .hover-icon {
  opacity: 1;
}

.info {
  display: grid;
  grid-template-columns: 2fr 2fr;
  color: var(--beige);
}

.info p {
  color: var(--beige);
}

.info a {
  text-decoration: none;
  color: var(--beige);
  font-weight: initial;
}

.info a:hover {
  text-decoration: none;
  color: var(--brown);
}

.fav {
  min-width: 50%;
  max-width: 10vw;
  z-index: 1100;
  justify-self: end;

  /** animation **/
  animation-name: pulse_kf;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes pulse_kf {
  0%,
  100% {
    transform: scale(0.89); /*start and end at original size*/
  }
  50% {
    transform: scale(0.8); /*scales up*/
  }
}

/** DESKTOP **/
@media (min-width: 800px) {
  /* HEADER */
  .desktop_menu {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    padding: 1rem;
  }

  .logo_d {
    max-width: 10rem;
  }

  .mobil_menu {
    display: none;
  }

  /*MAIN - ZIGZAG*/
  .billedeTilvenstre,
  .billedeTilhøjre {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-left: 0;
    margin-bottom: 2rem;
  }

  .tekstTilhøjre,
  .tekstTilvenstre {
    padding-top: 0;
    margin-right: 1rem;
    margin-left: 1rem;
  }

  /** flytter teksterne til zigzag mønster**/
  .tekstTilhøjre:last-child {
    order: 0;
  }
  .sektion_img:last-child {
    order: 0;
  }

  /** FOOTER **/
  .info p {
    margin-top: 10vh;
  }

  .yelp img,
  .tiktok img,
  .insta img {
    max-height: 10rem;
  }
}
